---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
interface Props {
    posts: CollectionEntry<'blog'>[];
}
const { posts } = Astro.props;
---
<div class="bento-grid">
    {posts.map(post => (
        <a href={`/blog/${post.id}/`} class="bento-item">
            <img src={post.data.heroImage} alt={post.data.title} loading="lazy" />
            <div class="bento-info">
                <h3>{post.data.title}</h3>
                <p class="bento-date"><FormattedDate date={post.data.pubDate} /></p>
            </div>
        </a>
    ))}
</div>
